html,body{
  width:100%;
  height:100%;
}
body{
  background-image: url("../img/0.jpg");
  background-size: cover;
  position:relative;
  overflow: hidden;
  perspective: 1000px;
}
@mixin top{
  width: 100%;
  height:53px;
  position:fixed;
  left:0;
  background: rgba(255,255,255,.7);
}
.top{
  top:0;
  @include top;
}
.foot{
  @include top;
  width:60%;
  padding:0 20%;
  display: flex;
  bottom:0;
  justify-content: space-between;
  align-items: center;
}
#container{
  cursor: pointer;
  background-image: url("../img/0.jpg");
}