body,ul,li,ol,p,pre,h1,h2,h3,h4,h5,h6,input,div{
    margin:0;
    padding:0;
    list-style:none;
}
a{
    text-decoration:none;
}
#canvas3d{
     border:none;
     cursor:move;
     width:1400px;
     height:600px;
     background:#eee;
 }